<ion-view view-title="Loyality Program">

  <ion-content>
    <div style="margin-left:0"  class="set row main-45 head ">
      <div class="set col col-100 nw add-boxx"> 
      <div class="col-50 col-set">DETAILS</div>
	  <div class="col-50 col-set" ng-controller="showdate">Offer end:{{date}}</div>
      </div>
      
    </div>
    









<div class="list card" >
<div class="booster" ng-controller="bannerimg">
    <img src="{{banimg.path}}">
  </div>
    <div class="offerpara" >
	
	
    <span>HIGHLIGHTS</span>
  </div>

  <div class="item item-body"  ng-controller="loyalityhighlhgt">

   

	<div class="">{{para}}    
	
	</div>
	
	<hr>
	
 <div>
 
 
 <div class="row">
  <div class="col">
    <button class="button button-block button-positive" ng-controller="btn-merchant">
     {{btnname}}
    </button>
  </div>
</div>
 </div>
  </div>
  

</div>




    </div>
	
  </ion-content>
  
  
  
  <ion-footer align-title="left" class="footercolr">
  <div class=" tabs tabs-icon-top footercolr" ng-controller="footertabs">
    <a ng-href="{{loyalty}}" class="tab-item active bak">
                    <span class="tab-item  icon footersize">  <i class="{{price}}"></i></span>
                    LOYALITY<br> PROGRAM
                </a>
		
                <a class="tab-item bak" >
                    <span class="tab-item  icon footersize">  <i class="{{usd}}"></i></span>
                    RECOMEND A <br>STORE
                </a>
				 <a ng-href="{{myPathVariable}}" class="tab-item bak">
                  <span class="tab-item  icon footersize">   <i class="{{loyality}}"></i></span>
                    WISHLIST<br> 
                </a>
				
                <a class="tab-item bak1">
                    <span class="tab-item  icon footersize">  <i class="{{cart}}"></i></span>
                    TRENDING <br>OFFER
                </a>
  </div>
 
</ion-footer>
  
  
  
</ion-view>
