<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="sideheader">
     <div><img src="../img/face.png"></div><div> <h1 class="title sidename">Welcome Julia eric</h1><br>
	  <p class="">100%</p></div>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/login">
       <label class="">
           <span class="size-32 step"> <i class="ion-ribbon-b"></i></span>
         GoReward Details
        </label> 
        </ion-item>
        
		 
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
