<ion-view view-title="Dashboard">

  <ion-content>
    <div style="margin-left:0"  class="main-topp set row main-45 ">
	
      <div class="set col col-100 nw add-box"> 
	  <div class="row">
	  <div class="col div-cen">
      	<div class="slidediv1">
		
		
		<div class="col-div-100" > 
				<div class="div-txt-inline">
				<span>
				<i class="ion-ios-checkmark-outline icn-align"></i>julia erin
				</span>
				
				</div>
				<div>
				<a href=""><i class="ion-ios-compose-outline"></i></a>
				</div>
		</div>
		
		       <div class="main col-div-100">
							<div class="submain-left col-div cen-colr">
									<span class=""> <i class="ion-ios-heart-outline"></i></span>
						
									<div class="txt-hgt">
									1220
									</div>
							
									<div class="txt-hgt1">
									GoReward Points
									</div>
							
						
							
							</div>
	
		
								<div class="submain-right col-div cen-colr ">
								<span class=""> <i class="ion-ios-heart-outline"></i></span>
							
								<div class="txt-hgt">
								12
								</div>
								
								<div class="txt-hgt1">
								You Saved
								</div>
							
								</div>
		</div>
		<div class="cen-main">
					<div class="cen-footer">
					
					<div><span class="icn-round"><i class="ion-ios-star-outline"></i></span> <span>Wishlist(25)</span></div>
					</div>
					<div class="cen-footer">
					
					<div><span class="icn-round"><i class="ion-ios-star-outline"></i></span> <span>Wishlist(25)</span></div> 
					</div>
					
					
		</div>
		</div>
		
		<div class="crcle1">
						<!--<img width="40" src="{{content.path}}">-->
						<div class="sideimg sideimgpad"><img class="imgtop" src="img/profile-pic.png"></div>
					</div>
		</div>
		
		</div>
      </div>
	  
	  <div class="clear"></div>
	 	 <div class="strip">
	  </div>
      
    </div>

     <body ng-controller="MainCtrl">
    
    
    <ion-header class="barr-subheader">
      <ion-scroll direction="x" class="wide-as-needed scroll-view">
        <div class="slidediv">
		<div class="cen-div">
				<div class="cen-main-div">
				<img src="img/bJ-img.png">
				</div>
		
		<div class="cen-strp">
		You have 200 points 
		</div>
		<div class="cen-main-foot">
		<div class="cen-main2">
		<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		
		<div class="cen-main22">
	<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		</div>
		</div>
		
		Booster Juice</div>
        
		
		
		<div class="slidediv">
		<div class="cen-div">
				<div class="cen-main-div">
				<img src="img/bJ-img.png">
				</div>
		
		<div class="cen-strp">
		You have 200 points 
		</div>
		<div class="cen-main-foot">
		<div class="cen-main2">
		<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		
		<div class="cen-main22">
	<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		</div>
		</div>
		
		Booster Juice</div>
		
		
		
		
		
        <div class="slidediv">
		<div class="cen-div">
				<div class="cen-main-div">
				<img src="img/bJ-img.png">
				</div>
		
		<div class="cen-strp">
		You have 200 points 
		</div>
		<div class="cen-main-foot">
		<div class="cen-main2">
		<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		
		<div class="cen-main22">
	<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		</div>
		</div>
		
		Booster Juice</div>
        <div class="slidediv">
		<div class="cen-div">
				<div class="cen-main-div">
				<img src="img/bJ-img.png">
				</div>
		
		<div class="cen-strp">
		You have 200 points 
		</div>
		<div class="cen-main-foot">
		<div class="cen-main2">
		<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		
		<div class="cen-main22">
	<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		</div>
		</div>
		
		Booster Juice</div>
		
		
		
		
		
		<div class="slidediv">
		<div class="cen-div">
				<div class="cen-main-div">
				<img src="img/bJ-img.png">
				</div>
		
		<div class="cen-strp">
		You have 200 points 
		</div>
		<div class="cen-main-foot">
		<div class="cen-main2">
		<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		
		<div class="cen-main22">
	<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		</div>
		</div>
		
		Booster Juice</div>
		
		
		
		
        
		<div class="slidediv">
		<div class="cen-div">
				<div class="cen-main-div">
				<img src="img/bJ-img.png">
				</div>
		
		<div class="cen-strp">
		You have 200 points 
		</div>
		<div class="cen-main-foot">
		<div class="cen-main2">
		<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		
		<div class="cen-main22">
	<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		</div>
		</div>
		
		Booster Juice</div>
		
		
		
		
		
		<div class="slidediv">
		<div class="cen-div">
				<div class="cen-main-div">
				<img src="img/bJ-img.png">
				</div>
		
		<div class="cen-strp">
		You have 200 points 
		</div>
		<div class="cen-main-foot">
		<div class="cen-main2">
		<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		
		<div class="cen-main22">
	<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		</div>
		</div>
		
		Booster Juice</div>
		
		
		
		
		
		
		<div class="slidediv">
		<div class="cen-div">
				<div class="cen-main-div">
				<img src="img/bJ-img.png">
				</div>
		
		<div class="cen-strp">
		You have 200 points 
		</div>
		<div class="cen-main-foot">
		<div class="cen-main2">
		<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		
		<div class="cen-main22">
	<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		</div>
		</div>
		
		Booster Juice</div>
		
		
		
		
		
    


<div class="slidediv">
		<div class="cen-div">
				<div class="cen-main-div">
				<img src="img/bJ-img.png">
				</div>
		
		<div class="cen-strp">
		
		You have 200 points 
		
		</div>
		<div class="cen-main-foot">
		<div class="cen-main2">
		<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		
		<div class="cen-main22">
	<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		</div>
		</div>
		
		Booster Juice</div>		
        
        
        
      </ion-scroll>
	  
	  
	  <div class="main-strip">
	  Merchant Recommeded for you
	  
	  </div> 
	  
	  
	  
	  
	  
	  
	  
	  <ion-scroll direction="x" class="wide-as-needed scroll-view ionic-scroll"><div class="scroll" style="-webkit-transform: translate3d(-236px, 0px, 0px) scale(1);">
        <div class="slidediv">
		<div class="cen-div">
				<div class="cen-main-div">
				<img src="img/bJ-img.png">
				</div>
		
		<div class="cen-strp">
		You have 200 points 
		</div>
		<div class="cen-main-foot">
		<div class="cen-main2">
		<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		
		<div class="cen-main22">
	<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		</div>
		</div>
		
		Booster Juice</div>
        
		
		
		<div class="slidediv">
		<div class="cen-div">
				<div class="cen-main-div">
				<img src="img/bJ-img.png">
				</div>
		
		<div class="cen-strp">
		You have 200 points 
		</div>
		<div class="cen-main-foot">
		<div class="cen-main2">
		<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		
		<div class="cen-main22">
	<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		</div>
		</div>
		
		Booster Juice</div>
		
		
		
		
		
        <div class="slidediv">
		<div class="cen-div">
				<div class="cen-main-div">
				<img src="img/bJ-img.png">
				</div>
		
		<div class="cen-strp">
		You have 200 points 
		</div>
		<div class="cen-main-foot">
		<div class="cen-main2">
		<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		
		<div class="cen-main22">
	<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		</div>
		</div>
		
		Booster Juice</div>
        <div class="slidediv">
		<div class="cen-div">
				<div class="cen-main-div">
				<img src="img/bJ-img.png">
				</div>
		
		<div class="cen-strp">
		You have 200 points 
		</div>
		<div class="cen-main-foot">
		<div class="cen-main2">
		<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="" class="">Reward Qualified</a></span>
		</div>
		</div>
		
		
		<div class="cen-main22">
	<span class="icn-round-grn">22</span>
		
		
		<div class="main-rewrd-foot"><span><a href="">Reward Qualified</a></span>
		</div>
		</div>
		
		</div>
		</div>
		
		Booster Juice</div>
		
		
		
		
		
		
		
		
		
		
        
        


<div class="slidediv">
		<div class="cen-div">
				<div class="cen-main-div">
				<img src="img/bJ-img.png">
				</div>
		
		<div class="cen-strp">
		
		You have 200 points 
		
		</div>
		<div class="cen-main-foot2">
		<div class="cen-btn">
		<button class="button button-calm">
  button-calm
</button>
		</div>
		</div>
		
		
						<div class="cen-btn">
					<button class="button button-calm">
				  button-calm
				</button>
						</div>
		</div>
		
		</div>
		</div>
		
		Booster Juice</div>		
        
        
        
      </div><div class="scroll-bar scroll-bar-h"><div class="scroll-bar-indicator scroll-bar-fade-out" style="-webkit-transform: translate3d(25px, 0px, 0px) scaleX(1); width: 32px; -webkit-transform-origin: left center 0px;"></div></div></ion-scroll>
	  
	  
    </ion-header>
   
    
  </body>
	
	
	
  </ion-content>
  
  
  
  <ion-footer align-title="left" class="footercolr">
  <div class=" tabs tabs-icon-top footercolr" ng-controller="footertabs">
    <a class="tab-item active bak">
                    <span class="tab-item  icon footersize">  <i class="{{price}}"></i></span>



                    ALL <br>OFFERES
                </a>
				
				
                <a class="tab-item bak" >
                    <span class="tab-item  icon footersize">  <i class="{{usd}}"></i></span>


                    PAYMENT <br>SETTING
                </a>
				 <a ng-href="{{myPathVariable}}" class="tab-item bak">
                  <span class="tab-item  icon footersize">   <i class="{{graph}}"></i></span>
                    PROGRESS<br> INDICATOR
                </a>
				
                <a class="tab-item bak1">
                    <span class="tab-item  icon footersize">  <i class="{{cart}}"></i></span>
                    MY <br>BASKET
                </a>
  </div>
 
</ion-footer>
  
  
  
</ion-view>
