<ion-view view-title="Wishlist">

  <ion-content>
    <div style="margin-left:0"  class="set row main-45 head ">
     
      
    </div>
    <div class="list card">

  <div class="booster">
    <img src="img/boostoffer.png">
  </div>
  <div class="item item-body"  ng-controller="NewOffers">
  
    <div ng-controller="iconic">
	
	<i class="{{boostericon}}"></i>
    <div  class="inline boostertxt">  {{offer}}</div> 
			<div class="size-34">
			
			<i class="ion-ios-arrow-right "></i>
			</div>
	  </div>  
    
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left div-footer-clr" ng-controller="rdctoffr">
    <a class="tab-item tabradius" ng-href="{{offerdtls}}">
     
      VIEW DETAILS
    </a>
    
    <a class="tab-item tabradius" href="#">
     
SHARE
    </a>
  </div>

</div>





<div class="list card" >
    <div class="booster" ng-controller="flagg">
	<i class="ion-android-bookmark iconset flg size-45"><span class="flgtxt">{{flagtxt12}}</span></i>
    <img src="img/boostwheatgrass.png">
  </div>

  <div class="item item-body"  ng-controller="BoosterOffers">

    <div ng-controller="iconic">
	
	<i class="{{boostericon}}"></i>
    <span class="inline boostertxt">  {{offer}}</span> 
	<i class=""></i>
	  </div>   
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item tabradius" href="#">
      VIEW DETAILS
    </a>
    
   <div class="col col-20 btn-algn">
    <button class="button button-block button-positive" ng-controller="btn-merchant">
     {{btnshare}}
    </button>
  </div>
  </div>

</div>




<div class="list card" >
    <div class="booster" ng-controller="flagg">
	<i class="ion-android-bookmark iconset flg size-45"><span class="flgtxt">{{flagtxt12}}</span></i>
    <img src="img/boostwheatgrass.png">
  </div>

  <div class="item item-body"  ng-controller="boostdiscount">

    <div ng-controller="iconic">
	
	<i class="{{boostericon}}"></i>
    <div class="inline boostertxt"> {{discount}}</div> 
	<div class="prce">{{price}}    <span><strike>{{strkdollr}}</strike></span></div>
	
	<i class=""></i>
	  </div>   
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item tabradius" href="#">
      VIEW DETAILS
    </a>
    
    <a class="tab-item tabradius" href="#">
     
SHARE
    </a>
  </div>

</div>




    </div>
	
  </ion-content>
  
  
  
  <ion-footer align-title="left" class="footercolr">
  <div class=" tabs tabs-icon-top footercolr" ng-controller="footertabs">
    <a ng-href="{{loyalty}}" class="tab-item active bak">
                    <span class="tab-item  icon footersize">  <i class="{{price}}"></i></span>
                    LOYALITY<br> PROGRAM
                </a>
		
                <a class="tab-item bak" >
                    <span class="tab-item  icon footersize">  <i class="{{usd}}"></i></span>
                    RECOMEND A <br>STORE
                </a>
				 <a ng-href="{{myPathVariable}}" class="tab-item bak">
                  <span class="tab-item  icon footersize">   <i class="{{loyality}}"></i></span>
                    WISHLIST<br> 
                </a>
				
                <a class="tab-item bak1">
                    <span class="tab-item  icon footersize">  <i class="{{cart}}"></i></span>
                    TRENDING <br>OFFER
                </a>
  </div>
 
</ion-footer>
  
  
  
</ion-view>
